<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>编辑文章</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='markdown/examples/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='markdown/css/editormd.css') }}"/>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div id="layout">
    <div class="blog_cont">
        <div style="width:90%;margin: 10px auto;" class="title">
            <input style="height:35px;width: 40%;font-size: 26px;" type="text" name="title" placeholder="请输入文章标题"
                    {% if post %} value="{{ post.title }}" {% endif %}
            >
        </div>
        <div id="test-editormd">
            <textarea style="display:none;">{% if post %}{{ post.markdown_source }}{% endif %}</textarea>
        </div>
        <div class="content_notice" style="width:90%;margin:0 auto;"></div>

        <div style="width:30%;margin:auto 5%;display: inline-block;" class="tags">
            <h4>添加标签</h4>
            <input style="width:90%;height: 30px;" placeholder="多个标签请用英文‘,’隔开;如果是作者简介，那么就不需要添加标签"
                   {% if post.tags %}value="{{ post.tags }}{% endif %}"/>
        </div>

        <div style="margin: auto auto;display: inline-block" class="category">
            <h4>选择归类</h4>
            <select style="width:100%;height: 30px;">
                <option value="1" {% if post.category_id == 1 %}selected{% endif %}>编程</option>
                <option value="2" {% if post.category_id == 2 %}selected{% endif %}>读书</option>
                <option value="3" {% if post.category_id == 3 %}selected{% endif %}>生活</option>
                <option value="0" {% if post.category_id == 0 %}selected{% endif %}>关于作者</option>
            </select>
        </div>

        <div style="width:90%;margin:25px auto 0 auto;">
            <button
                    style="margin-bottom: 20px;background: #1B3160;padding: 7px 10px;border-radius: 4px;border: 1px solid blue;color: rgb(255, 255, 255);font-weight: bold;"
                    class="sub_cont btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" target="post">发布内容
            </button>
            {% if not post or post.stype == 2 %}
            <button
                    style="margin-bottom: 20px;background: #1B3160;padding: 7px 10px;border-radius: 4px;border: 1px solid blue;color: rgb(255, 255, 255);font-weight: bold;"
                    class="sub_cont btn btn-primary" data-toggle="modal" data-target=".bs-modal-draft" target="draft">保存草稿
            </button>
            {% endif %}
        </div>

        <div class="modal fade .bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" style="font-size: 35px;color: green;text-align: center;">
                    发布成功
                </div>
            </div>
        </div>
        <div class="post_notice" style="width:90%;margin:0 auto;"></div>
        <!--bootstrap的模态框data-target命名:bs-modal-* 之类才有效-->
{#        <div class="modal fade bs-modal-draft" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modal">#}
{#            <div class="modal-dialog modal-sm">#}
{#                <div class="modal-content" style="font-size: 35px;color: green;text-align: center;">#}
{#                    保存成功#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
<script src="{{ url_for('static', filename='markdown/examples/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='markdown/editormd.js') }}"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "../lib/"
        });
    });
    $(".blog_cont .sub_cont").click(function () {
        var v = 1;
        var t = $(this).attr('target');
        if(t == 'draft'){
            v = 2;
        }
        var title = $('.blog_cont .title input').val().replace(/^\s*/, '');
        var cont = $('.blog_cont #test-editormd textarea').val().replace(/^\s*/, '');
        var category = $('.blog_cont .category select').val();
        var tags = $('.blog_cont .tags input').val();
        if (title === '') {
            if ($('#t_notice').length === 0) {
                $('.blog_cont .title').append('<span id="t_notice" style="color:red;">题目不能为空</span>');
            }
            return false;
        }

        if (cont == '') {
            if ($('#c_notice').length === 0) {
                $('.blog_cont .content_notice').append('<div><span id="c_notice" style="color:red;">内容不能为空</span></div>');
            }
            return false;
        }
        {% if post %}
            $.post('/admin/article/edit/{{ post.id }}', {title: title, cont: cont, tags: tags, category: category},
                    function () {
                        location.assign('/admin/article/index');
                    });
        {% else %}
            if(v === 1){
                $.post('/admin/article/add', {title: title, cont: cont, tags: tags, category: category, store:v},
                    function () {
                                location.assign('/admin/article/index');
                    });
            }else{
                $.post('/admin/article/add', {title: title, cont: cont, tags: tags, category: category, store:v});
                $('.blog_cont .post_notice').append('<div><span id="c_notice" style="color:red;">保存成功</span></div>');
                window.setTimeout(function(){$('.post_notice').remove()},2000);
            }

        {% endif %}
    });
</script>
</body>
</html>
