<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ckform.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
</head>
<body class="article_base">
{% block head_info %}
{% endblock %}
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>标题</th>
        <th>分类目录</th>
        <th>标签</th>
        <th>发布日期</th>
        <th>操作</th>
    </tr>
    </thead>
    {% for p in posts %}
        <tr>
            <td>{{ p.title }}</td>
            <td>{% if p.category_id == 0 %}关于作者
                {% elif p.category_id == 1 %}编程
                {% elif p.category_id == 2 %}读书
                {% else %}生活
                {% endif %}
            </td>
            <td>{{ p.tags or '' }}</td>
            <td>{{ p.post_time }}</td>

            <td>
                <a href="http://www.rookiefly.me:80/detail/{{ p.id }}" target="_blank">查看</a>
                <a href="/admin/article/edit/{{ p.id }}">编辑</a>
                <a href="/admin/article/show/{{ p.id }}">{% if p.status == 1 %}隐藏{% else %}展示{% endif %}</a>
                <a href="/admin/article/delete/{{ p.id }}" onclick="return confirm('真的要删除吗？');">删除</a>
            </td>
        </tr>
    {% endfor %}
</table>
<div class="inline pull-right page">
    {{ pagination.total }} 条记录 {{ pagination.page }}/{{ pagination.pages }} 页
    {% if pagination.has_prev %}
        {% block prev_page %}
        {% endblock %}
    {% endif %}
    {% for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
                {% block cur_page %}
                {% endblock %}
            {% else %}
                <strong>{{ page }}</strong>
            {% endif %}
        {% else %}
            <span>…</span>
        {% endif %}
    {%- endfor %}

    {% if pagination.has_next %}
        {% block next_page %}
        {% endblock %}
    {% endif %}
</div>
{% block pag_init %}
{% endblock %}
</body>
{% block js_script %}
{% endblock %}
</html>
