{% extends '/article/base.html' %}
{% block head_info %}
    <form class="form-inline definewidth m20" onsubmit="return sub();" method="post"
          action="{{ url_for('article_search') }}">
        搜索文章：
        <input type="text" name="keyword" class="abc input-default" placeholder="搜索文章标题或内容" value="">&nbsp;&nbsp;
        <button class="btn btn-primary">查询</button>
        &nbsp;&nbsp;
    </form>
{% endblock %}

{% block prev_page %}
    <a href="{{ url_for('article_list', page_num=pagination.prev_num) }}">上一页</a>
{% endblock %}
{% block cur_page %}
    <a href="{{ url_for('article_list', page_num=page) }}">{{ page }}</a>
{% endblock %}
{% block next_page %}
    <a href="{{ url_for('article_list', page_num=pagination.next_num) }}">下一页</a>
{% endblock %}
{% block js_script %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/other.js') }}"></script>
{% endblock %}