<!DOCTYPE HTML>
<html>
<head>
    <title>博客后台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <link href="{{ url_for('static', filename='assets/css/dpl-min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/css/bui-min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='assets/css/main-min.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="header">

    <div class="dl-log">欢迎您，<span class="dl-log-user">{{ current_user.name }}</span>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}" title="退出系统" class="dl-log-quit">[登出]</a>
    {% else %}
        <a href="{{ url_for('login') }}">[登录]</a>
    {% endif %}
    </div>

</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform">
            <div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div>
        </div>
        <ul id="J_Nav" class="nav-list ks-clear">
            <li class="nav-item dl-selected">
                <div class="nav-item-inner nav-order">文章管理</div>
            </li>
            <!-- todo:把访客的地域用可视化的方式展示出来  -->
        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-1.8.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bui-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/common/main-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/config-min.js') }}"></script>
<script>
    BUI.use('common/main', function () {
        var config = [
            {
                id: '1',
                homePage: '2',
                menu: [{
                        text: '文章管理',
                        items: [
                            {
                                id: '2',
                                text: '所有文章',
                                href: 'article/index'
                            },
                            {
                                id: '3',
                                text: '写文章',
                                href: 'article/add'
                            }
                        ]
                }]
            }
        ];
        new PageUtil.MainPage({
            modulesConfig: config
        });
    })
</script>
</body>
</html>