<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <title>MyBlog后台登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</head>
<body>
<div class="container">
    <header>
        <h1>&nbsp;</h1>
    </header>
    <section>
        <div id="container_demo">
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form onsubmit="return false;">
                        <h1>后台登录</h1>
                        <p>
                            <label for="username" class="uname" data-icon="u"> 用户名 </label>
                            <input id="username" name="username" required="required" type="text" placeholder="请输入用户名"/>
                        </p>
                        <p>
                            <label for="password" class="youpasswd" data-icon="p"> 密码 </label>
                            <input id="password" name="password" required="required" type="password" placeholder="请输入密码"/>
                        </p>
                          <div class="login_notice" style="color: red;margin:10px 0;"></div>
{#                        <p class="keeplogin">#}
{#                            <input type="checkbox" name="loginkeeping" id="loginkeeping" checked/>#}
{#                            <label for="loginkeeping">记住密码</label>#}
{#                        </p>#}
                        <p class="login button">
                            <input type="submit" value="登录"/>
                        </p>
                        <p class="change_link">
                            回到博客首页？
                            <a href="http://www.rookiefly.me" class="to_register">GO</a>
                        </p>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
</body>
<script>
    $('#login .login').click(function(){
        var username = $('#username').val().replace('/^\s*/', '');
        var password = $('#password').val();
{#        var remember_me = $('#loginkeeping').is(':checked');#}
        $.post('{{ url_for("login") }}',{username:username, password:password},function (data) {
            if(data.results == 'success' ){
                location.assign(data.redirect_url);
            }else{
                if($('form .login_notice span').length === 0 && username && password){
                    $('form .login_notice').append('<span>用户名或者密码错误</span>');
                }
            }
        })
    })
</script>
</html>
