<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML
        xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
    <META content="IE=11.0000" http-equiv="X-UA-Compatible">
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <TITLE>管理登录</TITLE>
    <SCRIPT src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></SCRIPT>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}" type="text/css"/>
    <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <SCRIPT type="text/javascript" src="{{ url_for('static', filename='js/other.js') }}"></SCRIPT>
</HEAD>
<BODY class="login">
<DIV class="top_div"></DIV>
<DIV class="" style="background: rgb(255, 255, 255); margin: -100px auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 200px; text-align: center;">
    <DIV class="logo" style="width: 165px; height: 96px; position: absolute;">
        <DIV class="tou"></DIV>
        <DIV class="initial_left_hand" id="left_hand"></DIV>
        <DIV class="initial_right_hand" id="right_hand"></DIV>
    </DIV>
    <div class="form_data">
    <P style="padding: 30px 0px 10px; position: relative;"><SPAN
            class="u_logo"></SPAN> <INPUT class="ipt" type="text" placeholder="请输入用户名" value="">
    </P>
    <P style="position: relative;"><SPAN class="p_logo"></SPAN>
        <INPUT class="ipt" id="password" type="password" placeholder="请输入密码" value="">
    </P>
    <DIV style="height: 50px; line-height: 50px; margin-top: 30px; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;">
        <P style="margin: 0px 35px 20px 45px;"><SPAN style="float: left;"><A class="to_home"
                                                                             href="http://www.rookiefly.me">回到首页?</A></SPAN>
           <SPAN class="sub" style="float: right;">
              <button class='mylogin' href="/admin">登录</button>
           </SPAN></P></DIV>
    </div>
</DIV>
<script type="application/javascript">
    var name = $('.login .form_data .ipt').val();
    var password = $('.login .form_data #password');
    $('.login .form_data .sub .mylogin').click(function () {
                alert(name);
            }

    )

</script>
</BODY>
</HTML>
