{% extends 'base.html' %}
{% block content %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ p.title }}</h2>
        {% include 'meta.html' %}
        {{ p.content | safe }}
    </div>
{% endblock %}
{% block page_nagite %}
    <nav class="page_nagite">
        {% block page %}
            {% if pre_post %}
                <p>前一篇:<a href="{{ url_for('get_detail', pid=pre_post.id) }}">{{ pre_post.title }}</a></p>
            {% endif %}
            {% if next_post %}
                <p>后一篇:<a href="{{ url_for('get_detail', pid=next_post.id) }}">{{ next_post.title }}</a></p>
            {% endif %}
        {% endblock %}
    </nav>

{% endblock %}