{% extends 'base.html' %}
{% block content %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ p.title }}</h2>
        {% include 'meta.html' %}
        {{ p.content | safe }}
    </div>
{% endblock %}
{% block page_nagite %}
    <nav class="page_nagite">
        {% block page %}
            {% if pre_post %}
                <p>前一篇:<a href="{{ url_for('get_detail', pid=pre_post.id) }}">{{ pre_post.title }}</a></p>
            {% endif %}
            {% if next_post %}
                <p>后一篇:<a href="{{ url_for('get_detail', pid=next_post.id) }}">{{ next_post.title }}</a></p>
            {% endif %}
        {% endblock %}
    </nav>

    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ p.id }}" data-title="{{ p.title }}" data-url="{{ url_for('get_detail', pid=p.id) }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name: "resolvewang"};
        (function () {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';
            ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 end -->

{% endblock %}