<footer class="blog-footer">
    <p>&copy; Resolvewang 2016-2017 &nbsp;Support By Tencent Cloud</p>
    <p>
        <a href="#">Back to top</a>
    </p>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260161958'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260161958%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</footer>
</body>
<script src="{{ url_for('static', filename='js/tagcanvas.js') }}"></script>
<script src="{{ url_for('static', filename='js/rq.js') }}"></script>
</html>
