<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="myblog">
    <meta name="author" content="resolvewang">
    <link rel="icon" href="{{ url_for('static', filename='pic/favicon.ico') }}">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('index') }}">首页</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        分类 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="types">
                        <li><a href="{{ url_for('get_bycategory', cid=1, page_num=1) }}">编程</a></li>
                        <li><a href="{{ url_for('get_bycategory', cid=2, page_num=1) }}">读书</a></li>
                        <li><a href="{{ url_for('get_bycategory', cid=3, page_num=1) }}">生活</a></li>
                    </ul>
                </li>
                <li><a href="/archive">归档</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
        </nav>
        <div class="blog-header">
            <h5  class="blog-title"><a href="{{ url_for('index') }}" title="回到首页" style="text-decoration: none">
                ResolveWang's Blog</a></h5>
            <p class="lead blog-description">a journey of thousands of miles begins with a single step</p>
        </div>
    </div>

    <a href="https://github.com/ResolveWang"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
</header>