<div class="col-sm-3 col-sm-offset-1 blog-sidebar">

    <div class="sidebar-module">
        <h3>标签</h3>
        <article id="page-undefined" class="article article-type-page" itemscope>

            <div class="tags" id="tags" style="display:none;width: 40px;">
                <ul>
                    <li><a style="font-size:12px;color:#1200ed">Linux</a></li>
                    <li><a style="font-size:12px;color:#1200ed">MySQL</a></li>
                    <li><a href="/tags/Nodejs/" style="font-size:15px;color:#1200ed">Nodejs</a></li>
                    <li><a href="/tags/Origin/" style="font-size:13px;color:#00f">Origin</a></li>
                    <li><a href="/tags/PHP/" style="font-size:13px;color:#6d0092">PHP</a></li>
                    <li><a href="/tags/Socket编程/" style="font-size:15px;color:#00f">Socket编程</a></li>
                    <li><a href="/tags/Yacc-Lex/" style="font-size:14px;color:#00f">Yacc/Lex</a></li>
                    <li><a href="/tags/vim/" style="font-size:15px;color:#1200ed">vim</a></li>
                    <li><a href="/tags/二分搜索/" style="font-size:15px;color:#4900b6">二分搜索</a></li>
                    <li><a href="/tags/优先队列/" style="font-size:14px;color:#2400db">优先队列</a></li>
                    <li><a href="/tags/前缀和/" style="font-size:14px;color:#1200ed">前缀和</a></li>
                    <li><a href="/tags/哈夫曼树/" style="font-size:15px;color:#00f">哈夫曼树</a></li>
                    <li><a href="/tags/图论/" style="font-size:13px;color:#2400db">图论</a></li>
                    <li><a href="/tags/字典树/" style="font-size:12px;color:#2400db">字典树</a></li>

                </ul>
            </div>
            <div id="myTags">
                <canvas width="200" height="200" id="my3DTags"><p>Anything in here will be replaced on
                    browsers that support the canvas element</p></canvas>
            </div>
        </article>
    </div>
    <div class="sidebar-module">
        <h3>最热文章</h3>
        <ol class="list-unstyled">
            <li><a href="#" class="hot">March 2014</a></li>
            <li><a href="#" class="hot">February 2014</a></li>
            <li><a href="#" class="hot">January 2014</a></li>
            <li><a href="#" class="hot">December 2013</a></li>
            <li><a href="#" class="hot">November 2013</a></li>
            <li><a href="#" class="hot">October 2013</a></li>
            <li><a href="#" class="hot">September 2013</a></li>
            <li><a href="#" class="hot">August 2013</a></li>
            <li><a href="#" class="hot">July 2013</a></li>
        </ol>
    </div>
</div>