{% extends 'base.html' %}
{% block content %}
    <div class="blog-notice">
                正在查看关于{{ type }}的文章
    </div>
    <div class="blog-archive">
        <h2 class="blog-post-time">2016</h2>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 time">2016/01/03</div>
            <div class="col-md-1"></div>
            <div class="col-md-7 title"><a>关于测试点事儿</a></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 time">2016/01/03</div>
            <div class="col-md-1"></div>
            <div class="col-md-7 title"><a>关于测试点事儿</a></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 time">2016/01/03</div>
            <div class="col-md-1"></div>
            <div class="col-md-7 title"><a>关于测试点事儿</a></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 time">2016/01/03</div>
            <div class="col-md-1"></div>
            <div class="col-md-7 title"><a>关于测试点事儿</a></div>
        </div>
    </div>
{% endblock %}

{% block page %}
    <div class="col-md-2"></div>
    <ul class="pagination">
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
{% endblock %}